#services {
    width: 100%;
    height: 100vh;
    padding: $p;
    background-color: $color5;
    color: $color4;
    overflow: hidden;
    > h2 {
      font: 700 3rem $text3;
      width: fit-content;
      border-bottom: 1px solid $color4;
      padding: 0.5rem;
      margin: auto;
      margin-top: -100px ;
      animation: new4 10s infinite;
      letter-spacing: 10px;
    }
  
    > section {
      display: grid;
      margin: 3rem;
      grid-template-columns: repeat(3, 1fr);
      height: 100%;
      gap: 2rem;
      > * {
        width: 100%;
        height: 100%;
        background-color: $color4;
        color: $color6;
        display: flex;
        flex-direction: column;
        transition: all 0.3s;
        align-items: center;
        justify-content: center;
        &:hover {
          box-shadow: 0 0 5px 15px $color1;
        }

        > h1{
          font-size: 6rem;
          animation: new5 5s infinite ease-in-out;
        }
  
        > svg {
          color: $color5;
          font-size: 3rem;
          animation: new5 5s infinite ease-in-out;
        }
        > span {
          font: 1000 1.5rem $text3;
          letter-spacing: 3px;
          margin: 1rem;
          animation: new4 6s infinite;
        }
      }
  
      .serviceBox1 {
        grid-column: 1 / 2;
        grid-row: 1/3;
        background-color: $color1;
  
        > h3 {
          font: 100 5rem $text1;
        }
        > p {
          font: 700 1.2rem $text3;
          letter-spacing: 3px;

        }
      }
      .serviceBox4 {
        grid-column: 2/4;
      }
    }
  }

  @keyframes new4{
    0%{
      color: #ff9f00;
    }
    20%{
      color:  #ffc107;
    }
    35%{
      color: #ffea00 ;
    }
    50%{
      color: #4caf50 ;
    }
    65%{
      color: #03a9f4;
    }
    85%{
      color: #2196f3;
    }
    100%{
      color: #9c27b0 ;
    }
   }

   @keyframes new5{
    0%{
      color: #9c27b0;
    }
    20%{
      color: #673ab7;
    }
    35%{
      color: #3f51b5 ;
    }
    50%{
      color: #2196f3;
    }
    65%{
      color: #00bcd4;
    }
    85%{
      color: #009688;
    }
    100%{
      color: #009688;
    }

   }
  